*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    /*padding: 0 127px 0 0;*/
}
.container{
    margin: 0 auto;
    width: 100%;
}

.statusbar{
    position: absolute;
    background-color: hsla(28, 93%, 34%, 0.88);
    height:auto;
    width: 100%;
    color: #ffffff;
    font-size: 13px;
    padding: 2px;
}
.clock{
    color: white;
    font-size: 13px;
    float: right;
    /*padding: 5px 30px 0 30px;*/
    text-align: center;
    /*margin-top: 20px;*/
}
.wifi{
    color:white;
    height: 13px;
    float: right;
    /*margin-top: 20px;*/
    /*padding-top: 5px;*/
}
.battery{
    color: #ffffff;
    height: 13px;
    float: right;
    /*margin: 20px 20px 20px;*/
}
.topNav{
    height: auto;
    font-size: 40px;
    color: white;
    width:100%;
    background-color:#E66605;
}
.AppTopNav{
    /*padding-top: 100px;*/
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    /*padding-bottom: 20px;*/
}
.fa-arrow-left {
    padding: 0 10px;
    font-size: 24px;
    text-align: center;
}
.fa-home{
    vertical-align: middle;
    padding: 0 10px 0 0;
    text-align: center;
    font-size: 24px;
}
.WashingtonAndStateNav{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    /*padding: 12px 20px;*/
    display: inline-block;
    /*margin-top: 20px;*/
    text-align: center;
    font-weight: bold;
}
.map{
    background: url("../Images/Map.png") no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
}
.buslist{
    background-color: #1976D2;
    width: 100%;
    height: 270px;
    overflow-y: scroll;
}
.ApproachingBuses{
    padding: 10px;
    text-align: left;
}
.row{
    background-color: #2196F3;
    width: 90%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 3px 7px 0;
    margin: 20px;
}
.row-Eastbound li{
    display: inline-block;
}
.row-Northbound li{
    display: inline-block;
}
.row-Southbound li{
    display: inline-block;
}
.row-Reroute li{
    display: inline-block;
}
.row-OutofService li{
    display: inline-block;
}
.frequency::before{
    content:"•";
}
li{
    margin-top: 5px;
}
.line{
    font-size: 24px;
    /*padding: 10px;*/
    color: #ffffff;
    font-weight: bold;
    /*margin-left: 30px;*/
    width: 20%;
    text-align: center;
}
.destination{
    font-size: 14px;
    color: #ffffff;
    /*padding: 18px;*/
    width: 40%;
    text-align: center;
}
.frequency{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 45%;
}
.location{
    font-size: 14px;
    color: #ffffff;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.time{
    font-size: 24px;
    font-weight: bold;
    color: #BBDEFB;
    text-align: center;
    width: 30%;
}
.bottomNav{
    height: auto;
    font-size: 40px;
    color: white;
    width:100%;
    background-color:#E66605;
    padding: 10px;
}
.Directions{
    display: inline-block;
    width: 30%;
    text-align: center;
}
.Bus-Stop {
     display: inline-block;
    width: 30%;
    text-align: center;
 }
.Bus-Line {
    display: inline-block;
    width: 30%;
    text-align: center;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
}
.bottom-nav{
    color: #ffffff;
    display: inline-block;
    height: auto;
    width: 100%;
}
.bottom-nav i{
    display: inline-block;
    padding: 10px;
    /*margin-top: 25px;*/
    /*padding: 0 0 20px 150px;*/
    font-size: 16px;
}
.fa-square{
    width: 30%;
    text-align: center;
    height: 20px;
}
.fa-circle{
    width: 30%;
    text-align: center;
}
.fa.fa-chevron-left{
    width: 30%;
    text-align: center;
}